:root {
  --header-height: 100px;
  --gutter: 60px;

  @media (max-width: 1023.9px) {
    --gutter: 30px;
  }

  @media (max-width: 767.9px) {
    --gutter: 20px;
  }


  @media (max-width: 1400px) {
    --header-height: 70px;
  }

  --background-color: #101010;
  --white: #FFFFFF;
  --black: #000000;
}